@using GCRBA.ViewModels
@model ProfileViewModel

<div class="row d-flex justify-content-center mt-2">
	@if (Model.Button.CurrentButton == "add")
	{
		<label for="categories" class="form-label">Select Category(s) to Add:</label>
	}

	@if (Model.Button.CurrentButton == "delete")
	{
		<label for="categories" class="form-label">Select Category(s) to Remove:</label>
	}
</div>
<div class="row d-flex justify-content-center">
	<select name="categories" class="form-control" multiple>
		@foreach (var item in Model.Categories)
		{
			<option value="@item.ItemID">@item.ItemDesc</option>
		}
	</select>
</div>