@using GCRBA.Models

@{
    ViewBag.Title = "Admin Portal";
}

@if (Model.isAdmin == 0)
{
    <p>This page is for admins only. If you are an admin, please log in and try again.</p>
}
else
{
<div class="container w-75">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm(FormMethod.Post))
    {

        <button name="btnSubmit" value="viewEditRequests">View Edit Requests</button>
        <button name="btnSubmit" value="editMainBanner">Edit Homepage Banner</button>
        <button name="btnSubmit" value="editCompanies">Edit Companies</button>
        <button name="btnSubmit" value="editCategories">Edit Categories</button>
        <button name="btnSubmit" value="editUsers">Edit Users</button>
        <button name="btnSubmit" value="editEvents">Edit Events</button>
        <button name="btnSubmit" value="editSpecials">Edit Specials</button>

    }

</div>
}
