@using GCRBA.ViewModels
@model EditCompaniesViewModel

@{
    ViewBag.Title = "Edit Existing Company";
}

<h2>@ViewBag.Title</h2>

@if (Model.CurrentUser.isAdmin == 0)
{
    @Html.Partial("AdminOnly");
}
else
{
    using (Html.BeginForm(FormMethod.Post))
    {
        <label for="companies">Select a company to delete from the GCRBA website</label>

        <select name="companies">
            @foreach (var item in Model.Companies)
            {
                <option value="@item.CompanyID">@item.Name</option>
            }
        </select>
    }
}