
@{
    ViewBag.Title = "Edit Landing Page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    GCRBA.Models.User user = new GCRBA.Models.User();
    user = user.GetUserSession();


    if (user.isMember != 1)
    {
        @Html.Partial("MemberOnly");
    }
    else
    {
        <button class="button-action" name="btnSubmit" value="AddNewPhotos">Modify Photos</button>
    }
}

