
@{
	ViewBag.Title = "Member Portal";
}

@if (Model.isMember == 0)
{
	@Html.Partial("MemberOnly");
} else
{
	<h2 class="mt-4 mb-5">Hello,  @Model.FirstName. Thank you for being a member of the GCRBA.</h2>

	using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "mx-auto w-50"} ))
	{
		<button class="w-100 mb-2" name="btnSubmit" value="editProfile">Edit Profile</button>
		<button class="w-100 mb-2" name="btnSubmit" value="editCompanyInfo">Edit Company</button>
		<button class="w-100 mb-2" name="btnSubmit" value="editLandingPage">Edit Landing Page</button>
	}

}
