
@{
	ViewBag.Title = "Member Portal";
}

@if (Model.isMember == 0)
{
	@Html.Partial("MemberOnly");
} else
{
	<p>Hello,  @Model.FirstName, thank you for being a member of the GCRBA.</p>

	using (Html.BeginForm())
	{
		<button name="btnSubmit" value="editProfile">Edit Profile</button>
		<button name="btnSubmit" value="editCompanyInfo">Edit Company Information</button>
		<button name="btnSubmit" value="editLandingPage">Edit GCRBA Landing Page</button>
	}

}
