@model GCRBA.Models.User

@{
	ViewBag.Title = "Non-Member";
}
@using (Html.BeginForm())
{

	if (!Model.IsAuthenticated)
	{
		<p>Please log in to view this page.</p>
	}
	else
	{
		<button name="btnSubmit" value="editProfile">Edit Profile</button>
	}
}