@model GCRBA.Models.User

@{
    ViewBag.Title = "NonMember";
}

@if (!Model.IsAuthenticated)
{
    <p>This page is for non-members only.</p>
}
else
{
    if (Model.isMember == 1 || Model.isAdmin == 1)
    {
        <p>This page is for non-members only.</p>
    }
    else
    {
        using (Html.BeginForm(FormMethod.Post))
        {
            <div>
                <button name="btnSubmit" value="join">Join the GCRBA!</button>
            </div>

            <p>You can join the GCRBA by clicking the button above!</p>

            <p>Hello, @Model.FirstName, you are logged in as a non-member.</p>

        }
    }
}
