@model GCRBA.Models.User

@{
	ViewBag.Title = "Non-Member";
}
@using (Html.BeginForm())
{

	if (!Model.IsAuthenticated)
	{
		<p>Please log in to view this page.</p>
	} else
	{
		if (Model.Notifications.Count > 0)
		{
			<button name="btnSubmt" value="viewNotifications" class="button-action">You have new notification(s) <i class="fa-solid fa-circle-exclamation fa-xl"></i></button>
		}

		<button name="btnSubmit" value="editProfile" class="button-action">Edit Profile</button>
	}
}