
@{
	ViewBag.Title = "Search By Category";
}

<h2>@ViewBag.Title</h2>


@Html.Partial("UserTabMenu")

<h4>Search the Tri-State for your Favorite Bakeries!</h4>
@using (Html.BeginForm("Index", "Bakery", FormMethod.Post)) {

	<br />
	<div>
		<button class="border-3" id="btnSearch" name="btnSubmit" value="search">Search</button>
	</div>
	<br />
}

@using (Html.BeginForm()) {
<div class="some-spacing">
	<button class="button-action" id="btnJoin" name="btnSubmit" value="addLocation">Add a Bakery!</button>
</div>
}



<script>
	$(document).ready(function () {
		SetActiveMenus('profile', 'index');
	});
</script>