<!-- this is a template for the home index - we can take off and run from here-->

@{
    ViewBag.Title = ViewBag.MainBanner;
}

<h2>@ViewBag.MainBanner</h2>

@using (Html.BeginForm())
{
    <!--
    <div class="topcorner">
        <button class="button-action" id="btnJoin" name="btnSubmit" value="join">Join the GCRBA!</button>
        <button class="button-action" id="btnLogin" name="btnSubmit" value="login">Login</button>
        <button class="button-action" id="btnAdminLogin" name="btnSubmit" value="admin">Admin Login</button>
    </div>
    -->
    /*
    <div class=left>
        <div>
            <button class="button-action" id="btnBakery" name="btnSubmit" value="bakery" style="width: 250px"><i class="fal fa-birthday-cake"></i>Find a Bakery</button>
        </div>
        <div>
            <button class="button-action" id="btnBakery" name="btnSubmit" value="vendor" style="width: 250px"><i class="fal fa-birthday-cake"></i>Connect with Vendors</button>
        </div>
        <div>
            <button class="button-action" id="btnBakery" name="btnSubmit" value="education" style="width: 250px"><i class="fal fa-birthday-cake"></i>Learn to Bake!</button>
        </div>
    </div>
    */
}
<script>
	$(document).ready(function () {
		SetActiveMenus('home');
	});
</script>