<!-- this is a template for the home index - we can take off and run from here-->

@{
    ViewBag.Title = "BIG BEAUTIFUL BANNER";
}

<h2>@ViewBag.Title</h2>

<p>The current date and time is: @DateTime.Now</p>

@using (Html.BeginForm()) {
	<div class="some-spacing">
        <button class="button-action" id="btnJoin" name="btnSubmit" value="join">Join the GCRBA!</button>
	</div>

	<div class="some-spacing">

		<button class="button-action" id="btnBakery" name="btnSubmit" value="bakery"><i class="fal fa-birthday-cake"></i>Find a Bakery</button>

		<button class="button-action" id="btnLogin" name="btnSubmit" value="login">Login</button>

		<button class="button-action" id="btnBakery" name="btnSubmit" value="vendor"><i class="fal fa-birthday-cake"></i>Connect with Vendors</button>

		<button class="button-action" id="btnBakery" name="btnSubmit" value="education"><i class="fal fa-birthday-cake"></i>Learn to Bake!</button>

	</div>
}
