
@{
    ViewBag.Title = "MAIN INDEX";
}

<h2>@ViewBag.Title</h2>
<p>The current date and time is: @DateTime.Now</p>
<div>
    <p>BANNER</p>

    <p>SIGN UP</p>
</div>


<p>BAKERIES</p>

<p>VENDORS</p>

<p>EDUCATION</p>
