<!-- this is a template for the home index - we can take off and run from here-->

@{
    ViewBag.Title = "BIG BEAUTIFUL BANNER";
}

<h2>@ViewBag.Title</h2>

<p>The current date and time is: @DateTime.Now</p>

<div class="some-spacing">
    
    <div class="button-action">
        @Html.ActionLink("Join the GCRBA!", "AddNewMember", "Member")
    </div>

<div class="some-spacing">

    <p>BAKERIES</p>

    <p>VENDORS</p>

    <p>EDUCATION</p>

</div>

