@using GCRBA.Models

@{
	ViewBag.Title = "Edit Companies";
}

@if (Model.isAdmin == 0)
{
	@Html.Partial("AdminOnly");
} else
{
	<h2>@ViewBag.Title</h2>
	using (Html.BeginForm(FormMethod.Post))
	{
		<div class="w-100 d-flex justify-content-center mt-4">
			<div class="card col-md-6">
				<div class="card-body text-center">
					<button name="btnSubmit" value="addCompany" class="btn btn-warning w-100 mt-3 mb-3 p-2">Add New Company</button>
					<button name="btnSubmit" value="deleteCompany" class="btn btn-warning w-100 mb-3 p-2">Delete Existing Company</button>
					<button name="btnSubmit" value="editCompany" class="btn btn-warning w-100 mb-3 p-2">Edit an Existing Company</button>
				</div>
			</div>
		</div>
	}
}
