@using GCRBA.ViewModels
@model ProfileViewModel

@{
	ViewBag.Title = "Edit Homepage Banner";
}


@if (Model.User.isAdmin == 0)
{
	@Html.Partial("AdminOnly");
} else
{
	<h2 class="my-4">Edit Homepage Banner</h2>
	using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "w-100" }))
	{
		<div class="card">
			<div class="card-body">
				<div class="w-100 d-flex justify-content-center">
					<select id="banners" name="banners" class="form-control col-md-8 my-5">
						@if (Model.MainBannerList.Count > 0)
						{
							foreach (var item in Model.MainBannerList)
							{
								<option value="@item.BannerID">@item.Banner</option>
							}
						}
						<option id="new" value="new">Create new banner</option>
					</select>
				</div>

				<div class="w-100 d-flex justify-content-center">
					<textarea id="banner-input" name="banner-input" class="form-control col-md-8"></textarea>
				</div>

				<div class="w-100 d-flex justify-content-center mt-4">
					<button name="btnSubmit" value="submit" class="btn btn-primary">Update Banner</button>
				</div>
			</div>
		</div>
	}
}

<script>
	$(document).ready(function () {

		// display textarea if option with value "new" is chosen in drop down
		$('#banners').on('change', function () {
			$('#banner-input').css('display', (this.value === 'new') ? 'block' : 'none');
		});

	});
</script>



