@using GCRBA.ViewModels
@model EditCompaniesViewModel

@{
    ViewBag.Title = "Edit Existing Company";
}

<h2>@ViewBag.Title</h2>

@if (Model.CurrentUser.isAdmin == 0)
{
    @Html.Partial("AdminOnly");
}
else
{
    using (Html.BeginForm(FormMethod.Post))
    {
        <label for="companies" class="form-label">Select Company to Edit:</label>
        <select name="companies" class="form-control" required="required">
            @foreach (var item in Model.Companies)
            {
                <option value="@item.CompanyID">@item.Name</option>
            }
        </select>

        <button name="btnSubmit" value="addNewLocation">Add Location</button>
        <button name="btnSubmit" value="deleteLocation">Delete Location</button>
        <button name="btnSubmit" value="addContactPerson">Add Contact Person</button>
        <button name="btnSubmit" value="editCategories">Edit Categories</button>
        <button name="btnSubmit" value="editGeneralInfo">Edit General Info</button>
        <button name="btnSubmit" value="cancel" formnovalidate>Return to Admin Portal</button>
    }
}