@using GCRBA.Models

@{
    ViewBag.Title = "Admin Portal";
}

<style>
	td{
		text-align: center;
	}
</style>

@if (Model.isAdmin == 0)
{
    <p>This page is for admins only. If you are an admin, please log in and try again.</p>
}
else
{
	<br />
<table>
    <tr>
        <td>
			<div class="container w-75">
				<h2>@ViewBag.Title</h2>

				@using (Html.BeginForm(FormMethod.Post)) {

					<button name="btnSubmit" value="editMainBanner">Edit Homepage Banner</button>
					<button name="btnSubmit" value="editCompanies">Edit Companies</button>
				}
			</div>
        </td>
    </tr>
</table>

}
