@model GCRBA.ViewModels.AdminVM

@{
	ViewBag.Title = "Admin Portal";
}


@if (Model.User.isAdmin == 0)
{
	@Html.Partial("AdminOnly");
} else
{
	<h2>@ViewBag.Title</h2>

	<div class="container w-75">
		@using (Html.BeginForm(FormMethod.Post))
		{
			<button name="btnSubmit" value="viewLocationRequests">View Location Requests</button>
			<button name="btnSubmit" value="viewMembershipRequests">View Membership Requests</button>
			<button name="btnSubmit" value="editMainBanner">Edit Homepage Banner</button>
			<button name="btnSubmit" value="editCompanies">Edit Companies</button>
		}
	</div>
}



